@media (width <= 1060px) {
    main.hovedside {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(7, 350px);
    }
}

@media (width <= 728px) {
    main.hovedside {
        grid-template-columns: repeat(2, 290px);
        grid-template-rows: repeat(7, 338px) ;
    }
}

@media (width <= 708px) {
    main.hovedside {
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(7, 327px);
    }
}

@media (width <= 688px) {
    main.hovedside {
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(7, 315px);
    }
}

@media (width <= 668px) {
    main.hovedside {
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(7, 303px);
    }
}

@media (width <= 648px) {
    main.hovedside {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(7, 292px);
    }
}

@media (width <= 620px) {
    main.hovedside {
        grid-template-columns: repeat(2, 240px);
        grid-template-rows: repeat(7, 280px);
    }
}

@media (width <= 600px) {
    main.hovedside {
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: repeat(7, 268px);
    }
}

@media (width <= 580px) {
    main.hovedside {
        grid-template-columns: repeat(2, 220px);
        grid-template-rows: repeat(7, 257px);
    }
}

@media (width <= 540px) {
    main.hovedside {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(7, 250px);
    }
}

@media (width <= 480px) {
    main.hovedside {
        grid-template-columns: repeat(1, 300px);
    }
}