@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');


html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p,
i,
h3,
a {
    color: var(--lightModeText);
}

.darkMode p,
.darkMode i,
.darkMode h3,
.darkMode a {
    color: var(--darkModeText);
}

.darkMode nav a,
.darkMode button,
.darkMode nav i {
    color: var(--teal);
}

ol,
ul {
    list-style: none;
}

img {

    height: auto;
}

body {
    /* Vår navbar har position fixed. Da må vi ha litt 
       margin på toppen for å ikke bli liggende "bak" den */
    margin-top: 74px;

    background-color: var(--lightMode);
    width: 100%;
}

body.hovedside {
    background: url("bilder/backgroundImgLight.svg") no-repeat fixed center;
    background-size: 100%;
    background-color: var(--lightMode);

}

body.hovedside.darkMode {
    background: url("bilder/backgroundImgDark.svg") no-repeat fixed center;
    background-size: 100%;
    background-color: var(--darkMode);
}

body.darkMode {
    background-color: var(--darkMode);
    color: var(--darkModeText);
}

/*css minimal reset ^*/
:root {
    --purple: rgb(235, 161, 241);
    --teal: rgb(101, 210, 205);
    --darkMode: rgb(37, 36, 59);
    --lightMode: #e7f0f4;
    --lightAccent: #d9e9f0;
    --darkAccent: #191832;
    --darkModeText: #d5d5d5;
    --lightModeText: #3D3D3D;
}

p,
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* Til Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 74px;
    padding: 0 20px;
    background-color: var(--lightAccent);
}

.darkMode nav {
    background-color: var(--darkAccent);
}

.navLeft,
.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.navLeft {
    justify-content: flex-start;
    gap: 3rem;
}

.navRight {
    justify-content: flex-end;
}

nav a,
nav button,
nav i {
    background-color: inherit;
    color: var(--purple);
    font-size: 30px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropbtn {
    height: auto;
    width: 42px;
}


.settingsWindow {
    height: 100vh;
    background-color: var(--lightAccent);
    width: 300px;
    z-index: 1000;
    position: fixed;
    right: -300px;
    top: 74px;
    transition: all 0.5s ease-in-out;
}

.darkMode .settingsWindow {
    background-color: var(--darkAccent);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--lightAccent);
    width: 300px;
    z-index: 1000;
    position: fixed;
    left: -300px;
    top: 74px;
    transition: all 0.5s ease-in-out;
}

.darkMode .dropdown-content {
    background-color: var(--darkAccent);
}

.dropdown-content a {
    color: var(--lightModeText);
}

.darkMode .dropdown-content a {
    color: var(--darkModeText);
}

.dropdown-content a:hover {
    color: var(--purple);
}

.darkMode .dropdown-content a:hover {
    color: var(--teal);
}

.darkmodeContainer,
.dropdown-content a {
    margin: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    user-select: none;
}

main.hovedside {
    width: 960px;
    background-color: var(--lightMode);
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(8, 400px);
    gap: 1rem;
    justify-content: center;
    margin: auto;
    margin-top: 100vh;
}

.darkMode main.hovedside {
    background-color: var(--darkMode);
}

main.hovedside>div {
    background-color: green;
}

/* søkemotoren */
#sokeMotor {
    height: 34px;
    min-width: 100%;
    border-radius: 10px;
    border: none;
}

#sokeElementer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 20%;
    font-family: inherit;
    flex: 1 0 auto;
}

.sokDropdown {
    min-width: inherit;
    position: absolute;
    top: 74px;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    background-color: white;
    max-width: 600px;
}

.sokDropdown>* {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--lightModeText);
    font-size: 1.25rem;
}

.sokDropdown>*:hover {
    text-decoration: underline;

}

/* Artikler*/
.article {
    background-color: white;
    color: var(--lightModeText);
}

.darkMode .article {
    background-color: var(--darkAccent);
    color: var(--darkModeText);
}

main.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: fit-content;
    padding: 20px 60px 60px 60px;
    background-color: white;
    margin: 38px;
}

.article h1 {
    font-weight: 300;
}

.article header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 10px;
    gap: 20px;
}

.article header>p {
    padding: 0 10px;
}

.article section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.article section>p {
    font-size: 1.25rem;
}

.sectionImg {
    box-shadow: 10px 10px 20px -5px var(--lightAccent);
}

footer {
    background-color: none;
    width: 60%;
    margin: 38px;
    text-align: center;
    text-decoration: none;
    color: var(--lightModeText);
}

.darkMode footer {
    background-color: var(--darkAccent);
    color: var(--darkModeText);
}

footer.hovedside {
    height: 800px;
    background-color: #191832;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bildetekst {
    font-size: 0.875rem;

}

.inspirasjon {
    font-size: 1rem;
    color: var(--darkMode);
}


.darkmodeContainer,
.dropdown-content a {
    margin: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;

}

section li {
    font-size: 1.25rem;
}

b {
    font-size: 1.25rem;
}

section h3 {
    font-size: 1.40rem;
    font-weight: bold;
}

article ol,
ul {
    list-style: decimal;
    margin-left: 40px;
    font-size: 1.25rem;
}

/* aside*/
aside {
    position: absolute;
    top: 30%;
    left: 80%;
    min-height: fit-content;
    background-color: white;
    transform: translate(-50%, -50%);
}

.aside {
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 6px;
    padding: 20px;
    transition: ease-in-out;


}

.aside h2 {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
    text-align: center;
}


aside a:hover {
    box-shadow: 0px 10px 20px -10px black;
    text-decoration: underline;
    text-decoration-line: black;
    text-decoration-color: var(--darkAccent);
}

/*Artikler på hovedsiden*/

.artikkel {
    background-color: white;
    color: var(--lightModeText);
    font-family: "Oxanium", sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 900;
}

.darkMode .artikkel {
    background-color: var(--darkAccent);
    color: var(--darkModeText);
}

.artikkel>img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.En,
.Fire,
.Sju {
    font-size: 3rem;
}

.En>img,
.Fire>img,
.Sju>img {
    width: 100%;
    object-fit: cover;

}


.En {
    grid-row: 1/3;
    grid-column: 1/7;
}

.To {
    grid-row: 3/4;
    grid-column: 1/4;
}

.Tre {
    grid-row: 3/4;
    grid-column: 4/7;
}

.Fire {
    grid-row: 4/6;
    grid-column: 1/7;
}

.Fem {
    grid-row: 6/7;
    grid-column: 1/4;
}

.Seks {
    grid-row: 6/7;
    grid-column: 4/7;
}

.Sju {
    grid-row: 7/9;
    grid-column: 1/7;
}

/*.Aatte {
    grid-row: 9/10;
    grid-column: 1/4;
}

.Ni {
    grid-row: 9/10;
    grid-column: 4/7;
}*/

.aboutus {
    width: 80%;
    margin: auto;
}

.aboutus header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutus h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

.aboutus h2 {
    font-weight: 300;
    font-size: 2rem;
}

.aboutus section p {
    font-size: 1.25rem;
}

section.gruppa {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aboutus .profil {
    width: 300px;
    padding: 20px;
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    background-color: black;
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus .visible {
    color: white;
    z-index: 1000;
}

/* til sok.html */
#sokContainer {
    padding: 30px 0;
}

#sokContainer>a {
    display: flex;
    height: 150px;
    text-decoration: none;
    gap: 30px;
    margin: 30px;
    border: solid var(--lightModeText) 1px;
    border-radius: 10px;
    overflow: hidden;

}

#sokContainer h3 {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    height: 100%;
    padding: 10px;

}

#sokContainer img {
    width: 260px;
}

#sokContainer a:hover h3,
.sokDropdown>*:hover {
    color: var(--purple);
}

#sokContainer a:hover,
.sokDropdown>*:hover {
    text-decoration: underline var(--purple);
}

.darkMode #sokContainer a:hover h3,
.darkMode .sokDropdown>*:hover {
    color: var(--teal);
}

.darkMode #sokContainer a:hover,
.darkMode .sokDropdown>*:hover {
    text-decoration: underline var(--teal);
}

@media (max-width: 1000px) {
    main.hovedside {
        width: 95%;
        grid-template-rows: repeat(8, 56vw);
    }

    .disappear {
        display: none;
    }

    .navLeft {
        gap: 1rem;
    }

    .artikkel {
        padding: 2vw;
    }
    .artikkel h2 {
        font-size: 3.2vw;
    }

    .En h2,
    .Fire h2,
    .Sju h2{
        font-size: 8vw;
    }


    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 4vw;
    }
}

@media (max-width: 500px) {
    .navLeft>a {
        display: none;
    }

    .navLeft,
    .navRight {
        gap: 0.5rem;
    }
}

@media (max-width: 350px) {
    #sokeElementer {
        width: 55vw;
    }
}