html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    /* Vår navbar har position fixed. Da må vi ha litt 
       margin på toppen for å ikke bli liggende "bak" den */
    margin-top: 100px;

    font-size: 16px;
}
/*css minimal reset ^*/
:root {
    --purple: rgb(250, 189, 255);
    --teal: rgb(149, 235, 231)
}


/* Til Navbar */
nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    background-color: var(--teal);
}

nav a,
nav button {
    background-color: inherit;
    color: darkblue;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: antiquewhite;
    padding: 20px;
    margin-left: 20px;
    margin-top: -10px;
}

.dropdown-content a {
    font-size: 18px;
    padding: 5px;
}




/* Til artikler*/
.headerImg{
 width: 60%;

}
main.article{
    width: 60%;
   

    height: fit-content;
    overflow: scroll;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}

header.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px 60px 60px;
}
